extends layout

block content
  h3 MATERI YANG TERDAPAT PADA MINGGU 2 :
   h5 1. Mengenal Framework Express
   h5 2. Express dan MVC
   h5 3. Routing dan Handler pada Express
   h5 4. Penanganan Error dan Template Engine
   h5 5. Middleware

  h3 MENGENAL EXPRESS JS 
  h5 Express JS adalah framework dari NodeJS yang dirancang secara fleksibel dan sederhana untuk membantu tahap pengembangan aplikasi back end. Express JS juga sangat berbeda dengan framework Laravel, dimana library ini memberikan kebebasan bagi para developer untuk mendesain aplikasi, sehingga memungkinan bagi setiap pengembang memiliki rancangan arsitektur yang berbeda dalam software yang dibangun.
  
  h3 KELEBIHAN EXPRESS JS
  table.table
   thead
     tr
       th(scope='col') No
       th(scope='col') Kelebihan
   tbody
     tr
       th(scope='row') 1
       td Mendapat Dukungan dari Google V8 Engine
     tr
       th(scope='row') 2
       td Menggunakan JavaScript
     tr
       th(scope='row') 3
       td(colspan='2') Memiliki Jaringan dari Komunitas yang Luas
     tr
       th(scope='row') 4
       td(colspan='2') Memiliki Fitur Caching
     tr
       th(scope='row') 5
       td(colspan='2') Mempunyai Skalabilitas Aplikasi yang Baik

 
 


  