extends layout

block content
  .container
        .card.bg-info.lg-5.my-5
          .card-header.text-center.bg-primary
            | Kalkulator
          .card-body.text-center
            form(action='/a/b' method='post')
              input.form-control(type='number' name="a" placeholder='Masukan Angka Ke-1' aria-label='default input example')
              input.form-control(type='number' name="b" placeholder='Masukan Angka Ke-2' aria-label='default input example')
              select(name="c")
                option(value="tambah") +
                option(value="kurang") -
                option(value="bagi") /
                option(value="kali") *
              br   
              button(type='submit' name='submit')
                | Hitung  