nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  .container-fluid
    a.navbar-brand(href='/') Minggu 2
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/harisatu') Hari 1
        li.nav-item
          a.nav-link(href='/haridua') Hari 2
        li.nav-item
          a.nav-link(href='/haritiga') Hari 3
        li.nav-item
          a.nav-link(href='/kal') Hari 4 
    
